<div class="section p-5">
    <div class="contenedorInformacion p-5 d-flex flex-column">
        <div>
          <h2 class="text-center pb-4">Mis reservas</h2>
        </div>
        <div *ngIf="!reservas">
            <div class="alert alert-warning" role="alert">
               Aun no ha realizado reservas!
              </div>
        </div>
        <div *ngIf="reservas">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Pelicula</th>
                    <th scope="col" class="text-center">Asiento</th>
                    <th scope="col" class="text-center">Fecha de la funcion</th>
                    <th scope="col" class="text-center">Candy & Snack</th>
                    <th scope="col" class="text-center">Cancelar</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reserva of reservas">
                        <td class="text-center">{{reserva.pelicula}}</td>
                        <td class="text-center">{{reserva.asiento}}</td>
                        <td class="text-center">{{reserva.fechaFuncion}}</td>
                        <td class="text-center">{{reserva.candySnack}}</td>
                        <td class="d-flex justify-content-center">
                            <button type="button" class="btn btn-danger zoom" (click)="cancelarReserva(reserva.id)">Cancelar</button>
                        </td>
                    </tr>
                 
                </tbody>
              </table>
         </div>
        

          <div>
            <a [routerLink]="['/peliculas']" class="btn btn-dark zoom">Ver más peliculas</a>
          </div>
    </div>  
</div>

