<main class="principal">

  <div class="card" style="width: 18rem;">
    <img src="https://preview.redd.it/gnwapht1m6a51.png?auto=webp&s=ee18cf67f79f4076c01589978c7fa36ed770c0c4" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://preview.redd.it/gnwapht1m6a51.png?auto=webp&s=ee18cf67f79f4076c01589978c7fa36ed770c0c4" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://preview.redd.it/gnwapht1m6a51.png?auto=webp&s=ee18cf67f79f4076c01589978c7fa36ed770c0c4" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://preview.redd.it/gnwapht1m6a51.png?auto=webp&s=ee18cf67f79f4076c01589978c7fa36ed770c0c4" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://preview.redd.it/gnwapht1m6a51.png?auto=webp&s=ee18cf67f79f4076c01589978c7fa36ed770c0c4" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


</main>
