<div class="movie-items full-width" style="padding-top: 125px;">
    <div class="card card-custom gutter-b">
        <!--HEADER-->
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder font-size-h3 text-dark">Carrito de Compras</span>
            </h3>
            <div class="card-toolbar">
                <div class="dropdown dropdown-inline">
                    <a [routerLink]="['/peliculas']" class="btn btn-primary font-weight-bolder font-size-sm">
                        Continuar comprando
                    </a>
                </div>
            </div>
        </div>
        <!--FIN HEADER-->
 
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="text-center">Detalle</th>
                            <th class="text-right">Precio</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    <!--RECORRO LAS RESERVAS DEL CARRITO -->
                        <tr *ngFor="let reserva of Reservas; let i = index">

                             <td class="text-left align-middle">
                                <span class="mr-2 font-weight-bolder">Entrada para: {{reserva.pelicula}}</span>
                            </td>

                            <td class="text-left align-middle">
                                <span class="mr-2 font-weight-bolder">Asiento: {{reserva.asiento}}<br>Fecha y Hora: {{reserva.fechaFuncion}}</span>
                            </td>
                            <td class="text-right align-middle font-weight-bolder font-size-h5">
                                {{reserva.precio}}
                            </td>
                            <td class="text-right align-middle">
                                <a href="javascript:void(0);" (click)="quitarItemFuncion(i)" class="btn btn-danger font-weight-bolder font-size-sm">
                                    Quitar
                                </a>
                            </td>
                        </tr>
                    
                     <!--RECORRO LOS PRODUCTOS DEL CARRITO -->
                        <tr *ngFor="let producto of Productos; let i = index">
                            
                            <td class="text-left align-middle">
                                <span class="mr-2 font-weight-bolder">{{producto.producto}}</span>
                            </td>
                            <td class="text-left align-middle">
                                <span class="mr-2 font-weight-bolder">{{producto.descripcion}}</span>
                            </td>
                            <td class="text-right align-middle font-weight-bolder font-size-h5">
                                {{producto.precio}}
                            </td>
                            <td class="text-right align-middle">
                                <a href="javascript:void(0);" (click)="quitarItemProducto(i)" class="btn btn-danger font-weight-bolder font-size-sm">
                                    Quitar
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="font-weight-bolder font-size-h4 text-right">Total</td>
                            <td class="font-weight-bolder font-size-h4 text-right">${{precioTotal}}.00</td>
                        </tr>
                    
                    </tbody>
                </table>
                <div style="width: 100%; padding-bottom: 1.5rem; padding-top: 2rem; text-align: right;">
                    <a href="javascript:void(0);" (click)="finCompra()"  class="btn btn-success font-weight-bolder px-8" style="color: #fff;background-color: #198754; border-color: #198754;">
                        Finalizar compra
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>