
img {
  height: 254px;
  width: 203px;
  object-fit: cover;
}

.principal {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #020d18;
  flex-wrap: wrap;
  margin-top: 100px;
  height: auto;
}

.movie-item {
  margin: 10px;
  background-color: rgb(87, 10, 10)
}

