<app-modal-general [target]="target" [titulo]="titulo" [cerrarButton]="true">
  <table class="table detalles-pelicula">
    <tbody>
      <tr>
        <th>Título</th>
        <td>{{ pelicula.titulo }}</td>
      </tr>
      <tr>
        <th>Descripción</th>
        <td>{{ pelicula.descripcion }}</td>
      </tr>
      <tr>
        <th>Género</th>
        <td>{{ pelicula.genero }}</td>
      </tr>
      <tr>
        <th>Duración</th>
        <td>{{ pelicula.duracion }}</td>
      </tr>
      <tr>
        <th>Director</th>
        <td>{{ pelicula.director }}</td>
      </tr>
      <tr>
        <th>Actores</th>
        <td>{{ pelicula.actores }}</td>
      </tr>
    </tbody>
  </table>
</app-modal-general>
