<div class="movie-items full-width" style="padding-top: 125px; background-color: transparent;">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" *ngFor="let image of images, let i = index" attr.data-slide-to="{{i}}"
        [ngClass]="{'active': i === 0, 'inactive': i !== 0}" [id]="i" style="margin-left: 2px; margin-right: 2px;"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item carousel-height" *ngFor="let image of images, let i = index"
        [ngClass]="{'active': i === 0, 'inactive': i !== 0}">
        <img class="d-block w-100 carousel-height" [src]="image" data-holder-rendered="true"
          style="object-fit: cover; width: 100%; height: 300px;">
      </div>
    </div>
  </div>
</div>

<div class="movie-items full-width">
  <div class="title-hd">
    <h2>Estreno</h2>
    <a routerLink="/peliculas" style="Color:white">Ver todos</a>
  </div>
  <div style="display:flex; flex-wrap: wrap;">
    <div *ngFor="let peli of peliculas">
      <div *ngIf="peli.estreno">
        <div class="card">
          <a routerLink="/info/{{peli.id}}" class="a">
            <div class="info"><span style="font-size: 15px; font-weight: bold; color:white">Ver info</span></div>
            <img class="imagen" src="{{peli.imagen}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="movie-items full-width">
  <div class="title-hd">
    <h2>Acción</h2>
    <a routerLink="/peliculas" style="Color:white">Ver todos</a>
  </div>
  <div style="display:flex; flex-wrap: wrap;">
    <div *ngFor="let peli of peliculas">
      <div *ngIf="peli.genero == 'Acción'">

        <div class="card">
            <a routerLink="/info/{{peli.id}}" class="a">
                <div class="info"><span style="font-size: 15px; font-weight: bold; color:white">Ver info</span></div>
            <img class="imagen" src="{{peli.imagen}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="movie-items full-width">
    <div class="title-hd">
      <h2>Drama</h2>
      <a routerLink="/peliculas" style="Color:white">Ver todos</a>
    </div>
    <div style="display:flex; flex-wrap: wrap;">
      <div *ngFor="let peli of peliculas">
        <div *ngIf="peli.genero == 'Drama'">
  
          <div class="card">
            <a routerLink="/info/{{peli.id}}" class="a">
                <div class="info"><span style="font-size: 15px; font-weight: bold; color:white">Ver info</span></div>
              <img class="imagen" src="{{peli.imagen}}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-items full-width">
    <div class="title-hd">
      <h2>Ciencia Ficción</h2>
      <a routerLink="/peliculas" style="Color:white">Ver todos</a>
    </div>
    <div style="display:flex; flex-wrap: wrap;">
      <div *ngFor="let peli of peliculas">
        <div *ngIf="peli.genero == 'Ciencia Ficción'">
  
          <div class="card">
            <a routerLink="/info/{{peli.id}}" class="a">
                <div class="info"><span style="font-size: 15px; font-weight: bold; color:white">Ver info</span></div>
              <img class="imagen" src="{{peli.imagen}}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


