


<main class="principal">

  <div class="contenedorFunciones">

    <ol class="dias">

      <li><a class="diasLink" routerLink="/funciones" routerLinkActive="active-link">Lunes <br /> 6/6/22</a> </li>
      <li> <a class="diasLink" routerLink="/funciones" routerLinkActive="active">Martes <br /> 7/6/22 </a> </li>
      <li> <a class="diasLink" routerLink="/funciones" routerLinkActive="active">Miercoles <br /> 8/6/22 </a></li>
      <li> <a class="diasLink" routerLink="/funciones" routerLinkActive="active">Jueves <br /> 9/6/22 </a></li>
      <li> <a class="diasLink" routerLink="/funciones" routerLinkActive="active">Viernes <br /> 10/6/22 </a></li>
      <li><a class="diasLink" routerLink="/funciones" routerLinkActive="active">Sabado <br /> 11/6/22</a></li>
      <li> <a class="diasLink" routerLink="/funciones" routerLinkActive="active">Domingo <br /> 12/6/22 </a></li>

    </ol>
    <!--Hacerlo mediante una funcion-->
    

  </div>
  <div class="contenedorInformacion">

    <div class="izquierda">
      <div>
        <img src="{{pelicula.imagen}}" style="height:400px;" />
      </div>

      <ul class="info-item">
        <li class="item"> GENERO: <span>{{pelicula.genero}}</span></li>
        <li class="item"> DURACION: <span>{{pelicula.duracion}}</span></li>
        <li class="item"> ACTORES: <span> {{pelicula.actores}}</span></li>
        <li class="item"> DIRECTOR:<span> {{pelicula.director}} </span></li>
      </ul>
    </div>

    <div class="derecha">

      <youtube-player videoId="{{pelicula.trailer}}"></youtube-player>
      <p class="descripcion">{{pelicula.descripcion}}</p>
    </div>



  </div>

</main>
