


<main class="principal">

  <div class="contenedor">

    <div class="izquierda">
    <div>
      <img src="{{imagen}}" style="height:500px;" />
    </div>

    <ul class="info-item">
      <li class="item"> GENERO: <span>{{genero}}</span></li>
      <li class="item"> DURACION: <span>{{duracion}}</span></li>
      <li class="item"> ACTORES: <span> {{actores}}</span></li>
      <li class="item"> DIRECTOR:<span> {{director}} </span></li>
    </ul>
    </div>

    <div class="derecha">

      <youtube-player videoId="{{trailer}}"></youtube-player>
      <p class="descripcion">{{descripcion}}</p>

      <a routerLink="/" routerLinkActive="active" class="boton">Mira las funciones de {{titulo}}</a>
    </div>



  </div>

</main>
