
.principal {
  margin-top: 100px;
  display:flex;
  justify-content:center;

}
.contenedor {
  display:flex;
  width:80%;
  background-color: #020d18;


}

.izquierda {
display:flex;
flex-direction:column;
margin:25px;
}


.info-item {
  border:1px solid black;
}

.item {
  border: 1px solid black;
  display:flex;
  justify-content: space-between;
  color:whitesmoke;
  font-family:Aller
}

.derecha {
  width:80%;
  display: flex;
  flex-direction:column;
  align-content: center;
  margin:25px;
}

.descripcion {
  font-family:Aller;
  font-size:larger;
  text-align:center
}

.boton {
  margin-top: 15px;
  background-color: rgb(116, 25, 55);
  border-radius: 25px;
  height: auto;
  font-size: 25px;
  color: whitesmoke;
  text-align:center;
  font-family:Aller;
}


  .boton:hover {
    color: greenyellow;
    transition: 0.2s;
    text-decoration: none;
  }
