<nav class="navContainer container-fluid fixed-top p-5">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <div routerLink="/" class="navbar-header logo">
        <div
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <a href="javascript:void(0);"
          ><img class="logo" src="assets/images/logo1.png" alt="" width="80"
        /></a>
      </div>

      <div style="position: relative; top: 5px" class="d-flex ms-5">
        <h4 routerLink="/" class="h4Buttons mx-3">INICIO</h4>
        <h4 routerLink="/peliculas" class="h4Buttons mx-3">PELICULAS</h4>
        <h4 class="h4Buttons mx-3">FAQS</h4>
      </div>
    </div>

    <div class="w-50" *ngIf="buscador == true">
      <form
        style="width: 100%"
        [formGroup]="formBusqueda"
        (ngSubmit)="mostrarBusqueda()"
      >
        <input
          type="text"
          class="input-busqueda-inicio"
          formControlName="titulo"
          placeholder="Busca la pelicula que quieras ver"
        />
        <input type="submit" value="" class="hidden" />
      </form>
    </div>
    <div style="position: relative; top: 5px" class="d-flex">
      <h4
        href="javascript:void(0);"
        *ngIf="buscador == false"
        (click)="buscador = true"
        class="h4Buttons mx-3"
      >
        BUSCAR
      </h4>
      <h4
        class="h4Buttons mx-3"
        *ngIf="buscador == true"
        href="javascript:void(0);"
        (click)="buscador = false"
      >
        CANCELAR
      </h4>

      <h4 routerLink="/login" class="h4Buttons mx-3">INICIAR SESIÓN</h4>
      <h4 routerLink="/login" class="h4Buttons mx-3">REGISTRO</h4>
    </div>
  </div>
</nav>
