<!-- <div class="divContainer">
  <div>
    <div></div>

    <select name="" id="">
      <option value=""></option>
    </select>
  </div>

  <div>
    <div class="divDias"></div>

    <div class="divHorarios">
      <div></div>

      <div></div>
      <div></div>
    </div>

    <div class="divAsientos"></div>

    <button class="buttonComprar">Comprar</button>
  </div>
</div> -->
<div class="section p-5">
  <div class="contenedorInformacion p-5 d-flex flex-column"> 
    <div class="mb-5">
        <h2>Hola usuario elegi tu butaca!</h2>
    </div>
    <div class="d-flex flex-column">

      

        <div class="ms-5 contenedor butacas-pantalla d-flex flex-row">

          

          <div class="datos-peli">
            <div class="card" style="width: 30rem;">
              <img src="{{imagen}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-dark">{{titulo}}</h5>
                <p class="card-text text-dark">Genero: {{genero}}</p>
                <p class="card-text text-dark">Duracion: {{duracion}}</p>
                <p class="card-text text-dark">Actores: {{actores}}</p>
                <p class="card-text text-dark">Director: {{director}}</p>
              </div>
            </div>
          </div>

          <!-- pantalla + butacas-->
          <div class="m-5">
            <!---pantalla-->
            <div class="d-flex justify-content-center contenedor-pantalla">
              <button type="button" class="btn btn-secondary zoom pantalla mb-5">PANTALLA</button>
            </div>
            <!----------->

            <div class="butacas d-flex flex-row justify-content-center">
                   <!--izquierda-->
                <div class="me-5">
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>

                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>

                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>

                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>

                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
              
                </div>
                <!------------->

                <!--medio------>
                <div class="me-5">
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-success m-1">D</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                  <button type="button" class="btn btn-danger m-1">O</button>
                 </div>
      
                <!------------->


                <!---derecha--->
                <div class="me-5">
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-danger me-3">O</button>
                    <button type="button" class="btn btn-danger">O</button>
                  </div>
                  
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-danger">O</button>
                  </div>
  
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
  
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-danger">O</button>
                  </div>
  
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
  
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
                  <div class="d-flex flex-row mb-3">
                    <button type="button" class="btn btn-success me-3">D</button>
                    <button type="button" class="btn btn-success">D</button>
                  </div>
              
            </div>
            <!------------->

            </div>


          </div>
          <!----------------------->

        </div>
    
  </div>

    <div class="mt-5">
      <button type="button" class="btn btn-dark zoom">Reservar</button>
    </div>
    
  </div>
</div>

