<!-- <div class="divContainer">
  <div>
    <div></div>

    <select name="" id="">
      <option value=""></option>
    </select>
  </div>

  <div>
    <div class="divDias"></div>

    <div class="divHorarios">
      <div></div>

      <div></div>
      <div></div>
    </div>

    <div class="divAsientos"></div>

    <button class="buttonComprar">Comprar</button>
  </div>
</div> -->
<div class="section p-5">
  <div class="contenedorInformacion p-5 d-flex flex-column"> 
    <div class="mb-5">
        <h2>Hola usuario elegi tu butaca!</h2>
        <br>
        <div class="alert alert-info p-5" role="alert">
          Selecciono funcion para el dia {{funcionDia}} y horario {{funcionHorario}}
        </div>

    </div>
    <div class="d-flex flex-column">

      

        <div class="ms-5 contenedor butacas-pantalla d-flex flex-row">

          <div class="datos-peli mt-5">
            <div class=" card info-items" style="width: 30rem;">
              <img src="{{imagen}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-light ">{{titulo}}</h5>
                <p class="card-text text-light ">Genero: {{genero}}</p>
                <p class="card-text text-light ">Duracion: {{duracion}}</p>
                <p class="card-text text-light ">Actores: {{actores}}</p>
                <p class="card-text text-light ">Director: {{director}}</p>
              </div>
            </div>
          </div>

          <!-- pantalla + butacas-->
          <form class="m-5" (submit)="reservar()">
            <!---pantalla-->
            <div class="d-flex justify-content-center contenedor-pantalla">
              <button type="button" class="btn btn-secondary zoom pantalla mb-5">PANTALLA</button>
              <input type="hidden" name="pelicula" value="{{titulo}}">
              <input type="hidden" name="fechaFuncion" value="{{funcionDia}} {{funcionHorario}}">
            </div>
            <!----------->
            <div class="butacas">

              <div class="butacas-A d-flex flex-row">
                  <div *ngFor="let a of filaA" class="">
                      <div *ngIf="a.disponible==true">
                        <button type="button" class="btn btn-success me-3 p-3 btn-butaca">{{a.columna}}</button>
                        <input type="radio" id="a.columna" name="asiento"  id="a.columna" value="{{a.columna}}" [(ngModel)]="butacaReservada">
                        <label for="a.columna"></label>
                      </div>
                      <div *ngIf="a.disponible==false">
                        <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{a.columna}}</button>
                        <input type="radio" id="a.columna" name="asiento" id="a.columna" value="{{a.columna}}" disabled>
                        <label for="a.columna"></label>

                      </div>
                  </div>
                </div>
                <br>
                <div class="butacas-B d-flex flex-row">
                  <div *ngFor="let b of filaB" class="">
                    <div *ngIf="b.disponible==true">
                      <button type="button" class="btn btn-success me-3 p-3 btn-butaca" >{{b.columna}}</button>
                      <input type="radio" id="b.columna" name="asiento" id="b.columna" value="{{b.columna}}" [(ngModel)]="butacaReservada">
                      <label for="b.columna"></label>
                    </div>
                    <div *ngIf="b.disponible==false">
                      <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{b.columna}}</button>
                      <input type="radio" id="b.columna" name="asiento"  id="b.columna" value="{{b.columna}}" disabled>
                      <label for="b.columna"></label>
                    </div>
                 </div>
                </div>
                <br>
                <div class="butacas-C d-flex flex-row">
                  <div *ngFor="let c of filaC" class="">
                    <div *ngIf="c.disponible==true">
                      <button type="button" class="btn btn-success me-3 p-3 btn-butaca">{{c.columna}}</button>
                      <input type="radio" id="c.columna" name="asiento"  id="c.columna" value="{{c.columna}}" [(ngModel)]="butacaReservada">
                      <label for="c.columna"></label>
                    </div>
                    <div *ngIf="c.disponible==false">
                      <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{c.columna}}</button>
                      <input type="radio" id="c.columna" name="asiento"  id="c.columna" value="{{c.columna}}" disabled>
                      <label for="c.columna"></label>
                    </div>
                   </div>
                </div>
                <br>
                <div class="butacas-D d-flex flex-row">
                  <div *ngFor="let d of filaD" class="">
                    <div *ngIf="d.disponible==true">
                      <button type="button" class="btn btn-success me-3 p-3 btn-butaca">{{d.columna}}</button>
                      <input type="radio" id="d.columna" name="asiento" id="d.columna" value="{{d.columna}}" [(ngModel)]="butacaReservada">
                      <label for="d.columna"></label>
                    </div>
                    <div *ngIf="d.disponible==false">
                      <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{d.columna}}</button>
                      <input type="radio" id="d.columna" name="asiento" id="d.columna" value="{{d.columna}}" disabled>
                      <label for="d.columna"></label>
                    </div>
                   </div>
                </div>
                <br>
                <div class="butacas-E d-flex flex-row">
                  <div *ngFor="let e of filaE" class="">
                    <div *ngIf="e.disponible==true">
                      <button type="button" class="btn btn-success me-3 p-3 btn-butaca">{{e.columna}}</button>
                      <input type="radio" id="e.columna" name="asiento" id="e.columna" value="{{e.columna}}" [(ngModel)]="butacaReservada">
                      <label for="e.columna"></label>
                    </div>
                    <div *ngIf="e.disponible==false">
                      <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{e.columna}}</button>
                      <input type="radio" id="e.columna" name="asiento" value="{{e.columna}}" disabled>
                      <label for="e.columna"></label>
                    </div>
                   </div>
                </div>
                <br>
                <div class="butacas-F d-flex flex-row">
                  <div *ngFor="let f of filaF" class="">
                    <div *ngIf="f.disponible==true">
                      <button type="button" class="btn btn-success me-3 p-3 btn-butaca">{{f.columna}}</button>
                      <input type="radio" id="f.columna" name="asiento" id="f.columna" value="{{f.columna}}" [(ngModel)]="butacaReservada">
                      <label for="f.columna"></label>
                    </div>
                    <div *ngIf="f.disponible==false">
                      <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{f.columna}}</button>
                      <input type="radio" id="f.columna" name="asiento" id="f.columna"  value="{{f.columna}}" disabled>
                      <label for="f.columna"></label>
                    </div>
                   </div>
                </div>
                <br>
                <div class="butacas-G d-flex flex-row">
                  <div *ngFor="let g of filaG" class="">
                    <div *ngIf="g.disponible==true">
                      <button type="button" class="btn btn-success me-3 p-3 btn-butaca">{{g.columna}}</button>
                      <input type="radio" id="g.columna" name="asiento" id="g.columna" value="{{g.columna}}" [(ngModel)]="butacaReservada">
                      <label for="g.columna"></label>
                    </div>
                    <div *ngIf="g.disponible==false">
                      <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{g.columna}}</button>
                      <input type="radio" id="g.columna" name="asiento" id="g.columna" value="{{g.columna}}" disabled>
                      <label for="g.columna"></label>
                    </div>
                   </div>
                </div>
                <br>
                <div class="butacas-H d-flex flex-row">
                  <div *ngFor="let h of filaH" class="">
                    <div *ngIf="h.disponible==true">
                      <button type="button" class="btn btn-success me-3 p-3 btn-butaca">{{h.columna}}</button>
                      <input type="radio" id="h.columna" name="asiento" value="{{h.columna}}" [(ngModel)]="butacaReservada">
                      <label for="h.columna"></label>
                    </div>
                    <div *ngIf="h.disponible==false">
                      <button type="button" class="btn btn-danger me-3 p-3 btn-butaca" disabled>{{h.columna}}</button>
                      <input type="radio" id="h.columna" name="asiento" id="h.columna" value="{{h.columna}}" disabled>
                      <label for="h.columna"></label>
                    </div>
                   </div>
                </div>
                <div class="mt-5 d-flex justify-content-center">
                  <button type="submit" class="btn btn-dark zoom">Reservar</button>
                </div>
            </div>
          </form>
          <!----------------------->

        </div>
    
  </div>

  
    
  </div>
</div>

