<div
  class="divContainer d-flex justify-content-center align-items-center col-12"
>
  <!-- <div *ngIf="'login' === screen; then thenBlock; else elseBlock"></div> -->

  <button (click)="probar()" class="btn btn-danger">Probar</button>

  <ng-template [ngIf]="'login' === screen">
    <div class="d-flex flex-column col-10 col-sm-6 col-md-4">
      <div>
        <p class="loginBienvenido">Bienvenido!</p>
        <p class="mb-3 fs-3 fw-bold">Ingresá a tu cuenta</p>

        <form [formGroup]="formLogin" (submit)="login()" class="mb-3">
          <div class="form-group d-flex flex-column">
            <label class="text-muted mb-1" htmlFor="exampleInputEmail1">
              Email
            </label>
            <input
              type="text"
              class="form-control bg-white"
              id="email"
              formControlName="email"
              placeholder="Ingresar email"
            />

            <label class="text-muted mt-2 mb-1" htmlFor="exampleInputPassword1">
              Contraseña
            </label>
            <input
              type="password"
              class="form-control bg-white"
              id="password"
              formControlName="password"
              placeholder="Ingresar contraseña"
            />
            <p id="emailHelp" class="forgotPassword form-text">
              Olvidaste tu contraseña?
            </p>

            <button type="submit" class="buttonLogin mt-2 mb-2 btn btn-primary">
              Ingresar
            </button>

            <div
              *ngIf="!!errorsLogin.usuarioIncorrecto; then errorLoginUsuario"
            ></div>
            <ng-template #errorLoginUsuario>
              <small class="text-danger mt-2">{{
                errorsLogin.usuarioIncorrecto
              }}</small>
            </ng-template>
          </div>
        </form>

        <div
          class="registerLink text-center text-muted d-flex justify-content-center"
        >
          No tenés cuenta?
          <p (click)="changeScreen('registro')" class="registerLinkP ms-1">
            Registrate
          </p>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="'registro' === screen">
    <div class="d-flex flex-column col-10 col-sm-6 col-md-4">
      <div>
        <p class="mb-3 fs-3 fw-bold">Registrate!</p>
        <form class="mb-3" [formGroup]="formRegistro" (submit)="registrar()">
          <div class="form-group d-flex flex-column">
            <div>
              <input
                type="text"
                class="form-control bg-black"
                formControlName="nombre"
                id="nombre"
                placeholder="Nombre"
              />
            </div>

            <div *ngIf="!!errors.nombre; then errorNombreBlock"></div>
            <ng-template #errorNombreBlock>
              <small class="text-danger">{{ errors.nombre }}</small>
            </ng-template>

            <div>
              <input
                type="text"
                class="form-control bg-black mt-3"
                formControlName="apellido"
                id="apellido"
                placeholder="Apellido"
              />
            </div>

            <div *ngIf="!!errors.apellido; then errorApellidoBlock"></div>
            <ng-template #errorApellidoBlock>
              <small class="text-danger">{{ errors.apellido }}</small>
            </ng-template>

            <div>
              <input
                type="text"
                class="form-control bg-black mt-3"
                formControlName="direccion"
                id="direccion"
                placeholder="Dirección"
              />
            </div>

            <div *ngIf="!!errors.direccion; then errorDireccionBlock"></div>
            <ng-template #errorDireccionBlock>
              <small class="text-danger">{{ errors.direccion }}</small>
            </ng-template>

            <div>
              <input
                type="text"
                class="form-control bg-black mt-3"
                formControlName="email"
                id="email"
                placeholder="Email"
              />
            </div>

            <div *ngIf="!!errors.email; then errorEmailBlock"></div>
            <ng-template #errorEmailBlock>
              <small class="text-danger">{{ errors.email }}</small>
            </ng-template>

            <div>
              <input
                type="password"
                class="form-control bg-black mt-3"
                formControlName="password"
                id="password"
                placeholder="Contraseña"
              />
            </div>
            <div *ngIf="!!errors.password; then errorPasswordBlock"></div>
            <ng-template #errorPasswordBlock>
              <small class="text-danger">{{ errors.password }}</small>
            </ng-template>

            <button type="submit" class="buttonLogin mt-4 mb-2 btn btn-primary">
              Registrarse
            </button>
          </div>
        </form>

        <div class="registerLink text-muted d-flex justify-content-center">
          Ya tenés una cuenta?
          <p (click)="changeScreen('login')" class="registerLinkP ms-1">
            Ingresa
          </p>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="'validar' === screen">
    <div class="d-flex flex-column col-10 col-sm-6 col-md-4">
      <div>
        <p class="mb-3 fs-3 fw-bold text-center">
          Ingresá el código de verficación.
        </p>

        <form
          [formGroup]="formConfirmacion"
          (submit)="verificar()"
          class="mb-3"
        >
          <div class="form-group d-flex flex-column">
            <label class="text-muted mb-1" htmlFor="exampleInputEmail1">
              Código de verficación
            </label>
            <input
              type="number"
              class="form-control bg-white"
              id="codigo"
              formControlName="codigo"
              placeholder="Ingresar codigo"
            />

            <button type="submit" class="buttonLogin mt-2 mb-2 btn btn-primary">
              Ingresar código
            </button>

            <div
              *ngIf="
                !!errorsLogin.usuarioNoConfirmado;
                then errorUsuarioNoConfirmado
              "
            ></div>
            <ng-template #errorUsuarioNoConfirmado>
              <small class="text-danger mt-2">{{
                errorsLogin.usuarioNoConfirmado
              }}</small>
            </ng-template>
          </div>
        </form>

        <div
          class="registerLink text-center text-muted d-flex justify-content-center"
        >
          <p (click)="changeScreen('login')" class="registerLinkP ms-1">
            Volver a login
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
